body{
  background:#0f172a;
  font-family:Arial;
  color:white;
  text-align:center;
}

.box{
  margin:50px auto;
  padding:20px;
  background:#1e293b;
  width:300px;
  border-radius:10px;
}

a{
  display:block;
  color:#22c55e;
  margin:5px;
  text-decoration:none;
}

button{
  padding:10px 20px;
  background:red;
  border:none;
  border-radius:5px;
}